@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 1194px) {
    .login {
        width: 90vw;
        padding: 40px 20px;
    }
    button {
        width: 14%;
    }
}
@media screen and (min-width: 1195px) and (max-width: 1200px) {
    .login {
        width: 90vw;
        padding: 40px 120px;
    }
}
@media screen and (min-width: 1200px) {
    .login {
        width: 900px;
        padding: 40px 130px;
    }
}